<div style="margin: auto; margin-top: 50px">
  <div class="white-pane">
    <span><b>Local Rummy</b></span> <br />
    <span>Your game, your rules</span> <br />
    <br />
    <button class="button" routerLink="/create-room" style="margin-left: 10%;">Create Table</button>
    <button class="button"  routerLink="/listrooms"style="float: right; margin-right: 10%;">
      Join Table
    </button>
  </div>
  
  <div class="white-pane" style="margin-top: 20px">
    <span><b>Between</b></span> <br />
    <span>Your game, your rules</span> <br />
    <br />
    <button class="button" style="margin-left: 10%;">Create Table</button>
    <button class="button" style="float: right; margin-right: 10%;">
      Join Table
    </button>
  </div>
</div>
