.guest {
  top: 229px;
  left: 85px;
  padding: 5px;
  min-width: 360px;
  max-width: 500px;
  height: 132px;
  background: white no-repeat padding-box;
  border-radius: 11px;
  opacity: 1;
  margin: auto;
  margin-top: 120px;
}