.guest {
  top: 229px;
  left: 85px;
  width: 268px;
  height: 132px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #FFFFFF;
  border-radius: 11px;
  opacity: 1;
  margin: auto;
}