.guest {
  top: 229px;
  left: 85px;
  width: 268px;
  height: 132px;
  background: rgb(154, 201, 228) 0% 0% no-repeat padding-box;
  border-radius: 11px;
  opacity: 1;
  margin: auto;
  margin-top: 120px;
}