<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usr of playersObs | async">
        <td>{{usr.name}}</td>
    </tr>
  </tbody>
</table>
{{startFlag}}
<div *ngIf="startFlag">
  <button class="btn btn-secondary" style="float: right;">Start Game</button>
</div>

<div *ngIf="distributeFlag">
  <div style="height: 20%;">
    <div
      cdkDropList
      #cardsList="cdkDropList"
      [cdkDropListData]="images"
      cdkDropListOrientation="horizontal"
      class="example-list"
      [cdkDropListConnectedTo]="[openCardList]"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="example-box"
        *ngFor="let image of images; let i = index"
        cdkDrag
      >
        <img style="width: 200%;" src="../../assets/cards/{{ image }}.jpg" />
      </div>
    </div>
  </div>
  <div style="background-color: white;">
    <div cdkDropList
    #deckList="cdkDropList"
    [cdkDropListData]="deck"
    cdkDropListOrientation="horizontal"
    class="example-list-open"
    [cdkDropListConnectedTo]="[cardsList]"
    (cdkDropListDropped)="dropDeckTopCard($event)" 
    cdkDragHandle >
      <div cdkDrag>
        <img style="width: 15%;" src="../../assets/cards/Yellow_back.jpg" />
      </div>
    </div>

    <div
      cdkDropList
      #openCardList="cdkDropList"
      [cdkDropListData]="openCard"
      cdkDropListOrientation="horizontal"
      class="example-list-open"
      [cdkDropListConnectedTo]="[cardsList]"
      (cdkDropListDropped)="dropOpenCard($event)"
    >
      <div cdkDrag>
        <img style="width: 15%;" src="../../assets/cards/{{ openCard[0] }}.jpg" />
      </div>
    </div>
  </div>
</div>

<div>
  <button class="btn btn-primary" (click)="distribute()">Distribute</button>
</div>
