#container {
  display: block;
}

.player {
  top: 40px;
  left: 50px;
  width: 98px;
  height: 38px;
  color: white;
  background: #004040 0% 0% no-repeat padding-box;
  /* border: 1px solid #ffff00; */
  border-radius: 15px;
  opacity: 1;
}

.deckAndJoker {
  top: 119px;
  width: 472px;
  background: #cdeff1 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 20px;
  opacity: 1;
  margin: auto;
}

.folded {
  background: #ffbfbf  !important;
  color: black !important;
}

.currentUser {
  top: 548px;
  left: 328px;
  padding: 5px;
  border-radius: 35px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}
td.selected {
  -webkit-animation: pulse-border 2s infinite;
}

td {
  width: 98px;
  padding: 0 15px 0 15px;
  border-spacing: 10px;
}

@media only screen and (orientation: portrait) {
  #container {
    height: 100vw;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@media only screen and (orientation: landscape) {
  #container {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.playerNameCss {
  top: 566px;
  left: 344px;
  width: 41px;
  height: 36px;
  text-align: left;
  font: Bold 30px/37px Helvetica Neue;
  letter-spacing: 0px;
  color: #1C2331;
  opacity: 1;
}

.openCardDiv {
  border-style: solid;
  color: gray;
  height: 120px;
  width: 80px;
  border-radius: 10px;
}

table {
  border-collapse: separate;
  border-spacing: 15px;
}


.grid {
  display: grid;
  /* grid-template-columns: repeat(3, minmax(1fr, 700px)); doesn't work as expected */
  grid-template-rows: 50px 150px 150px;
  grid-gap: 10px;
  margin-bottom: 10px;
  max-height: 375px;
}

.btn-group button {
  background-color: #4caf50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

.grid .item {
  /* background-color: teal; */
}
/* 
.grid2 {
  display: grid;
  grid-template-columns: repeat(3, auto); 
  grid-template-rows: 50px 50px 50px;
  grid-gap: 10px;
}

.grid2 .item {
  max-width: 300px;
  background-color: teal;
} */

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

ul#menu li {
  display: inline;
}
.blinking {
  animation: blinkingText 2s infinite;
}

@-webkit-keyframes borderBlink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: greenyellow;
  }
}
@keyframes borderBlink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: greenyellow;
  }
}
.borderBlink {
  border: 3px solid greenyellow;
  /* add 'border-color: transparent' if you wish no border to show initially */
}

.borderBlink:hover {
  -webkit-animation: borderBlink 1s step-end infinite;
  animation: borderBlink 1s step-end infinite;
}

@keyframes blinkingText {
  0% {
    color: #bc8f8f;
  }
  49% {
    color: #bc8f8f;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #bc8f8f;
  }
}

@-webkit-keyframes pulse-border {
  from,
  to {
    box-shadow: 0 0 0 0 #bc8f8f;
  }
  50% {
    background-color: #bc8f8f;
  }
}

.disableDiv {
  pointer-events: none;
}

.rotateimg90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.example-list {
  max-width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  /* background: white; */
  border-radius: 1px;
  overflow: visible;
}

.example-list-open {
  max-width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  /* background: white; */
  border-radius: 1px;
  overflow: visible;
}
.example-box {
  color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  /* background: white; */
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 1px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
