/* html {
    height: 100%;
    width: 100%;
  }
  
  body {
    display: table;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .header {
    height: 10%;
  }
  
  .card-section {
    height: 20%;
    background-color: #ddd;
  }
  
  .deck-section {
    height: 60%;
    background-color: #eee;
  }
  
  .footer {
    display: table-row;
    height: 10%;
  }


  #header_div {
    height: 10%;
    background-color: #eee;
  }

  #top_div {
    position: absolute;
    height: 20%;
    text-align:center;
  }
  
  #middle_div {
    position: absolute;
    height: 50%;
    text-align:center;
    background-color: #eee;
    background-color: yellow;
  }

  #bottom_div {
    position: absolute;
    height: 20%;
    text-align:center;
    background-color: bisque;
    color:#FFFFFF;
  } */


.circle-container {
  position: relative;
  background-color: black;
  width: 50%;
  height: 30em;
  padding: 2em;
  /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
  border: dashed 0px;
  border-radius: 50%;
}
.circle-container a {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4em;
  height: 4em;
  margin: -2em;
}
.circle-container img {
  display: block;
  width: 100%;
}
.deg0 {
  transform: translate(12em);
} 
.deg45 {
  transform: rotate(45deg) translate(12em) rotate(-45deg);
}
.deg135 {
  transform: rotate(135deg) translate(12em) rotate(-135deg);
}
.deg180 {
  transform: translate(-12em);
}
.deg225 {
  transform: rotate(225deg) translate(12em) rotate(-225deg);
}
.deg315 {
  transform: rotate(315deg) translate(12em) rotate(-315deg);
}
