.container {
    border-radius: .5em;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .item {
    width: 10%;
    padding: 10px;
    background-color: rgba(111,41,97,.3);
    border: 2px solid rgba(111,41,97,.5);
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }