<form class="form-inline" #f="ngForm">
  <div class="whitePane">
      <div class="input-group mb-3" style="margin-top: 40px; padding: 10px;">
          <input
            type="text"
            [(ngModel)]="firstname"
            name="firstname"
            placeholder="name ..."
            class="form-control"
          />
          <div class="input-group-append">
            <button
              type="submit"
              [disabled]="!firstname"
              routerLink="table"
              (click)="onClickViewRooms(firstname)"
              id="bdg-learn-sub-button-ebook-programming-for-profits"
              class="btn btn-primary mb-2"
            >
              Submit
            </button>
          </div>
        </div>
  </div>

  <!-- 
  <div class="form-group mx-sm-3 mb-2">
    <label for="name">Name </label>
    <input
      type="text"
      id="name"
      autocomplete="off"
      class="form-control mx-sm-3"
      aria-describedby="passwordHelpInline"
      [(ngModel)]="userName"
      name="username"
    />

    <button
      type="submit"
      class="btn btn-primary mb-2"
      [disabled]="userName === ''"
      routerLink="/listrooms"
      (click)="onClickViewRooms(userName)"
    >
      Enter
    </button>
  </div> -->
</form>
