<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div style="margin: auto;">
    <div class="white-pane">
      <label class="sr-only" for="inlineFormInput">Enter Room Name .. </label>
      <input
        type="text"
        class="form-control mb-2"
        id="inlineFormInput"
        name="roomName"
        ngModel
        placeholder="Enter Room Name ..."
        required
      />
      <div class="col-auto">
        <button
          type="submit"
          [disabled]="!f.valid"
          
          class="buttoncss"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</form>
